:root{
	--lime: hsl(61, 70%, 52%);
	--lime-btn-bg: hsla(61,70%,52%,50%);
	--lime-light: hsla(61, 70%, 52%,20%);
	--red: hsl(4, 69%, 50%);

	--white: hsl(0, 0%, 100%);
	--slate-100: hsl(202, 86%, 94%);
	--slate-300: hsl(203, 41%, 72%);
	--slate-500: hsl(200, 26%, 54%);
	--slate-700: hsl(200, 24%, 40%);
	--slate-900: hsl(202, 55%, 16%);
	--slate-900-light: hsla(202,55%,16%,95%);
}

*{
	box-sizing: border-box;
}

body{
	margin: 0;
	font-family: "Plus Jakarta Sans",sans-serif;
	background: var(--slate-100);
	color: var(--slate-700);
}

h1,h2,h3,p{
	margin: 0;
}

h1,h2,h3{
	color: var(--title-clr,var(--slate-900));
}

p{
	color: var(--text-clr);
}

main{
	background: var(--white);
	max-width: 1000px;
	overflow: hidden;
}

main > section{
	padding: min(8vw,2rem) min(6vw,2.5rem);
}

input{
	border: none;
	padding: 0;
	outline: none;
	width: 100%;
}

button{
	border: none;
	border-radius: 2rem;
	background: var(--btn-bg,var(--lime));
	color: var(--btn-fg,var(--slate-900));
	padding: .7rem 2rem;
	margin-top: min(6vw,2.3rem);
	cursor: pointer;
}

button:hover{
	background: var(--lime-btn-bg);
}

button *{
	vertical-align: middle;
}

button img{
	width: 18px;
	margin-right: .5rem;
}

button,input{
	font-family: "Plus Jakarta Sans";
	font-weight: bolder;
}

section > article{
	margin-top: 1.5rem;
}

article > label{
	display: inline-block;
	margin-bottom: .75rem;
}

img{
	vertical-align: middle;
}

.result-section{
	background: var(--slate-900-light);
}

article span{
	background: var(--slate-100);
	padding: .75rem 1rem;
	display: inline-block;
	color: var(--slate-700);
	font-weight: bold;
}

article+article{
	margin-top: 1.5rem;
}

header{
	margin-bottom: min(5vw,2.5rem);
}

header span{
	text-decoration: underline;
}

header span:hover{
	cursor: pointer;
	color: var(--slate-900);
}

.input-container > div:first-of-type,.mortgage-type{
	border: 1px solid var(--active-bg,var(--slate-700));
	display: flex;
	border-radius: .2rem;
	overflow: hidden;
}

.input-container input{
	flex-grow: 1;
	padding: 0 1rem;
}

.input-error{
	color: var(--red);
	display: none;
}

.mortgage-type{
	padding: .75rem 1rem;
	cursor: pointer;
}

.mortgage-type:hover{
	border: 1px solid var(--lime);
}

.mortgage-type.active{
	--active-bg: var(--lime);
	background: var(--lime-light);
	/*border: 1px solid var(--lime);*/
}

.mortgage-type + .mortgage-type{
	margin-top: .75rem;
}

.checkbox-container{
	width: 20px;
	height:20px;
	padding: .2rem;
	border-radius: 50%;
	border: 2px solid var(--active-bg,var(--slate-700));
	margin-right: 1rem;
}

.checkbox{
	height:100%;
	border-radius:50%;
	background: var(--active-bg,var(--lime));
	display: none;
}

.result-section{
	--title-clr: var(--white);
	--text-clr: var(--slate-300);
}

.result-section h3{
	color: var(--text-clr);
	font-size: 1rem;
	font-weight: normal;
}

.empty-result{
	text-align: center;
}

.empty-result h2{
	margin: 1rem 0;
}

.loaded-result{
	display: none;
}

.loaded-result h2{
	margin: 0 0 1rem;
}

.loaded-result > p{
	margin: 1rem 0 min(7vw,2.5rem);
}

.result{
	background: var(--slate-900);
	border-radius: .5rem;
	border-top: 4px solid var(--lime);
	padding: min(8vw,1.5rem) min(6vw,2rem);
}

.result p{
	font-weight: bold;
	margin-top: .75rem;
}

.monthly-repayments{
	padding-bottom: 1rem;
}

.monthly-value{
	font-size: 2.5rem;
	color: var(--lime);
}

.total-repay{
	border-top: 1px solid var(--slate-700);
	padding-top: 1rem;
}

.repay-value{
	--text-clr: var(--white);
	font-size: 1.3rem;
}

.aic{
	align-items: center;
}

@media screen and (min-width: 700px) {
	body{
		padding: 2rem;
		min-height: 100vh;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	main{
		border-radius: 1rem;
	}

	.years-perc-container{
		gap: 1rem;
		justify-content: space-between;
		display: flex;
	}

	.years-perc-container > *{
		margin: 0;
		width: 50%;
	}

	.monthly-value{
		font-size: 3rem;
	}
}

@media screen and (min-width: 800px) {
	.df{
		display: flex;
	}

	main > section{
		width: 50%;
	}

	header{
		justify-content: space-between;
		align-items: center;
	}

	.loaded-result{
		align-self: flex-start;
	}

}
